@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    margin: 0;
    padding: 0;
    background: #999 url("../media/images/background0.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    font-family: 'Lato', sans-serif;
}

$primary-color:#175513;
@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#player {
    @include flex;
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 200px;
    transform: translateY(-50%);
    #play-button {
        $side: 100px;
        height: $side;
        width: $side;
        background-color: $primary-color;
        background-position: center;
        background-size: cover;
        position: relative;
        &::before {
            @include flex;
            color: #fff;
            content: attr(data-album);
            position: absolute;
            left: 0;
            right: 0;
            margin: -10px auto;
            font-size: 12px;
            bottom: 0;
            transform: translateY(100%) scale(1.5);
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:hover::after {
            opacity: 0.9;
            cursor: pointer;
            transition: opacity .3s ease-in-out;
        }
        &.to-play::after {
            $size: 0.5*$side;
            border-left: $size solid #fff;
            border-top: ($size*0.5) solid transparent;
            border-bottom: ($size*0.5) solid transparent;
        }
        &.to-pause::after {
            $height: 0.5*$side;
            height: $height;
            width: $height*1/3;
            border-left: $height*1/3 solid #fff;
            border-right: $height*1/3 solid #fff;
            opacity: 0;
            transition: opacity .3s ease-in-out;
        }
        &.to-pause:hover::after {
            opacity: 1;
        }
    }
    #duration {
        width: 50%;
        height: 25%;
        background-color: rgba(255, 255, 255, 0.1);
        position: relative;
        #progress {
            background-color: darken($primary-color, 10%);
            height: 100%;
            width: 0;
        }
        &::after {
            content: attr(data-tags);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 15px;
            color: #fff;
        }
    }
    #controls {
        @include flex;
        color: #fff;
        font-size: 30px;
        height: 25%;
        #next,
        #prev {
            @include flex;
            padding: 0 20px;
            cursor: pointer;
            height: 100%;
            &:hover {
                background-color: rgba(255, 255, 255, 0.1)
            }
        }
    }
}